.jumbotron.hero-unit
  form(method='post', action='/post', class='form-inline', style='text-align:left;')
    textarea(type='text', class='col-md-12', name='post')
    p
      button(type='submit', class='btn btn-success')
        i.icon-comment.icon-white
        span  post
